body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Nunito, Helvetica, Arial, sans-serif !important;
}

html {
	overflow-x: hidden;
	width: 100%;
}

body {
	background-color: #fafafa;
	overflow-x: hidden;
	padding-top: 50px;
	width: 100%;
}

h1 {
	color: #db552e !important;
}

h2 {
	font-size: 24px;
}

.btn-primary {
	background: #db552e;
	border: none;
	margin-bottom: 10px;
	margin-right: 3px;
}

.btn-primary:hover {
	background: #EC4E1F;
}

.navbar,
.jumbotron {
	background: #ffc84f;
}

.navbar a {
	color: #b46c2e;
}

.navbar-collapse a:hover {
	background: #db552e !important;
	border-radius: 0px 0px 10px 10px;
	color: #fafafa;
}

.navbar-toggle {
	background: #E6B449;
}

.icon-bar {
	background: #b46c2e;
}

.tooltip-inner {
	background: rgba(0, 0, 0, 0.85);
	padding: 10px !important;
}

.tooltip-arrow {
	border-top-color: rgba(0, 0, 0, 0.85) !important;
}

.jsbin-embed {
	margin-bottom: 20px;
}

@media(max-width:767px) {
	.navbar-collapse {
		background: #FFD883;
	}

	.navbar a:hover {
		border-radius: 0px;
	}

	#logo > small {
		margin-bottom: 70px;
	}

	#splash {
		text-align: center;
	}

	#splash > .container > div > h1 {
		font-size: 42px;
	}

	#egg {
		display: none !important;
	}

	#egg-static {
		display: block !important;
	}

	#social-github {
		margin-left: 40px;
	}

	#social-facebook {
		margin-left: -6px;
	}

	#social-twitter {
		margin-bottom: 8px;
		margin-left: 8px;
		margin-top: 10px;
	}
}

@media(min-width:768px) {
	#egg {
		display: none !important;
	}

	#egg-static {
		display: block !important;
	}

	#splash > .container > div > h1 {
		font-size: 72px;
	}
}

@media(min-width:992px) {
	#egg {
		display: block !important;
	}

	#egg-static {
		display: none !important;
	}

	#splash > .container > div > h1 {
		font-size: 98px;
	}
}

body > section.row {
	margin: 0px;
	margin-bottom: 20px;
	padding: 20px;
}

body > section.row > div.container > div > h1 {
	font-size: 42px;
}

body > section.row > div.container > div > p {
	color: #999;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 32px;
	margin-top: 20px;
}

body > section.row > div.container > div > p > strong {
	color: #666;
	font-size: 18px;
	font-weight: 600;
}

body > section.row > div.container > div.clipart-container {
	margin-top: 15px;
	text-align: center;
}

body > section.row.white {
	background: #fff;
	border-bottom: 2px solid #eee;
	border-top: 2px solid #eee;
}