#footer {
	background: transparent url('../img/footer.png') no-repeat bottom left;
	background-size: 100% 100%;
	bottom: 0px;
	height: 300px;
	margin: 0px;
	margin-top: 200px;
	position: relative;
}

#copyright {
	background: #eee;
	border-radius: 100px;
	color: #bbb;
	display: block;
	font-size: 18px;
	left: 50%;
	margin-left: -116px;
	margin-top: -130px;
	padding: 20px;
	position: absolute;
	text-align: center;
}

#bower {
	margin-top: -30px;
	position: absolute;
}

#nest {
	background-color: #aa7f58;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	box-shadow:
		inset 10px -10px 0px 0px #8f6846,
		inset 10px -50px 0px 20px #9d744f;
	display: block;
	height: 100px;
	margin-left: 105px;
	margin-top: 150px;
	position: absolute;
	width: 200px;
	z-index: 1
}

#nest i {
	background: #694d33;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	box-shadow:
		inset 10px 10px 0px 0px #61462f;
	display: block;
	height: 70px;
	margin-left: 50px;
	margin-top: 10px;
	position: absolute;
	width: 100px;
}

#egg-static {
	bottom: 90px;
	display: none;
	margin-left: 165px;
	position: absolute;
	z-index: 3;
}

#egg-static > i {
	margin-left: 12px;
}