#logo {
	margin: 0 auto;
	text-align: center;
}

#logo:before {
	background: #F59A35;
	border-radius: 150px;
	content: ' ';
	height: 150px;
	margin-left: -100px;
	margin-top: -20px;
	position: absolute;
	width: 150px;
}

#logo > small {
	color: #b46c2e;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}

#logo > .img-responsive {
	margin: 0 auto;
}

#bird {
	left: 1000%;
	position: relative;
	z-index: 3;
}

.egg {
	background-color: #fafafa;
	background-size: 50%;
	border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
	box-shadow: inset 10px -10px 0px 0px #ddd, inset 10px -50px 0px 20px #eee;
	display: block;
	height: 110px;
	width: 80px;
}

#egg {
	margin-left: 152px;
	margin-top: -180px;
	opacity: 0;
	position: fixed;
	z-index: 1;
}

.egg > i {
	background: transparent url('../img/logo.png') no-repeat center center;
	background-size: 100%;
	opacity: 0.2;
	position: absolute;
	height: 60px;
	margin-left: -30px;
	margin-top: 40px;
	width: 60px;
}

#splash {
	border-bottom: 5px solid #E6B449 !important;
	position: relative;
	z-index: 3;
}

#splash > .container > div > h1 {
	font-weight: 800;
}

#splash > .container > div > p {
	color: #b46c2e;
}

#splash-context,
#browser-support,
#social {
	opacity: 0;
}

#splash-context {
	margin-top: -40px
}

#splash-content > a.btn {
	width: 170px;
}

#social {
	margin-top: 20px;
	overflow: hidden;
}

#header p {
	color: #b46c2e;
	font-size: 24px;
	font-weight: 300;
	height: 0px;
	overflow: hidden;
}

#header small {
	color: #b46c2e;
	display: none;
	font-size: 14px;
	font-weight: 600;
	margin-left: 20px
}